{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <ul class="media-list">
      {% for announcement in announcements %}
        {% include "fg_news/media_news.html" with announcement=announcement %}
      {% endfor %}
    </ul>
    {% include "bootstrap/bs_pager.html" with pager=pager %}
    </div>

    <div class="list-group col-md-3 col-md-offset-1">
      <a class="list-group-item {% if not selected_category %}active{% endif %}" href="{% url 'news-list' %}">All categories</a>
      {% for category in categories %}
        <a class="list-group-item {% if selected_category == category.slug %}active{% endif %}" href="{% url 'news-list' category=category.slug %}">{{category}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
