<li class="media">
  <div class="media-left">
    {% if announcement.media %}
      <img class="media-object" src="accouncement.media" alt="">
    {% else %}
    <span class="fg-icon-stack fa-stack fa-4x" title="{{announcement.category}}">
      <i class="fa fa-square-o fa-stack-2x" ></i>
      <i class="fa fa-{{announcement.category.icon}} fa-stack-1x" ></i>
    </span>
    {% endif %}
  </div>
  <div class="media-body">
    <h3 class="media-heading"><a href="{{announcement.link}}">{{announcement.title}}</a></h3>
    <p>{{announcement.body}}</p>
  </div>
</li>
