
#herounit-empty{
  border-bottom: 10px solid #2F4C6B;
  margin-bottom: 2em;
}

.hero-unit {
  background-color: #1A3654;
  color: #FFFFFF;
}

.hero-unit .carousel {
  text-align: center;
  background-color: #2F4C6B;
}

.hero-unit .carousel-caption {
  padding: 0px;
  text-align: center;
  background-color: #2F4C6B;
  opacity: 0.6;
}

.hero-unit .carousel .item img {
  margin: 0px auto;
  text-align: center;
}

#marketing-unit {
  background-color: #eee;
  padding: 1em;
  border-top: 10px #808080 solid;
  border-bottom: 10px #808080 solid;
}

.fg-icon-stack {

}

#footer{
    width: 100%;
    background-color: #eee;
    position: relative;
    bottom: 0px;
    border-top: #808080 10px solid;
    margin-top: 2em;
}

#footer .container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.social-media a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #fff;
  border: 2px solid #808080;
  background-color: #808080;
  border-radius: 100%;
  line-height: 25px;
}

.social-media a:hover {
  color: #808080;
  background-color: transparent;
}
