{% extends "base.html" %}
{#
  Single page, single column template

  This template is meant to emulate a LaTeX article page for ease of reading.
  It should mostly be used for static content which doesn't need any additonal
  infomation on the sides.
#}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% block page_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock content %}
