{% extends "base_centered.html" %}

{% block content %}
  <div class="page-header">
    <h2>{% block error-title %}An error occoured{% endblock %}</h2>
    <p class="lead">{% block error-lead %}An error occoured{% endblock %}</p>
  </div>

  {% block error-body %}
    {% block error-cat %}
      <img src="https://http.cat/404" class="center-block" alt="Page not found" />
    {% endblock %}

    <h2>Actions</h2>
    <ul>
      <li><a href="{% url 'home' %}">Return to the homepage</a></li>
    </ul>
  {% endblock %}
{% endblock content %}
