<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ request.site.name|default:"FOSS Galaxy" }}{% endblock title %}</title>

    {% load static %}
    {% load flatpages %}
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fg-theme.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %} {% endblock extra_head %}
   </head>
   <body>

       <div class="container">
           <div class="masthead">
             {% block menu %}
              <ul class="pull-right list-inline">
                  <li><a href="https://community.fossgalaxy.com">Community</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Members</a></li>
              </ul>
             {% endblock menu %}
            <h1><a href="{% url 'home' %}">{{ request.site.name|default:"FOSS Galaxy" }}</a></h1>
           </div>
       </div>

       {% block herounit %}
       <div id="herounit-empty">
       </div>
       {% endblock %}

          {% block wrapper %}
          <div class="container">{% block content %}{% endblock content %}</div>
          {% endblock wrapper %}

           <footer id="footer">
            <div class="container">
               <div class="row">
                   <div class="col-xs-4">
                     {% get_flatpages '/about/' as flatpages %}
                     {% if flatpages %}
                       <h2>About</h2>
                       <ul class="list-unstyled">
                         {% for page in flatpages %}
                          <li><a href="{{page.url}}">{{page.title}}</a></li>
                         {% endfor %}
                       </ul>
                     {% endif %}

                    <ul class="list-inline social-media">
                         <li><a href="http://www.facebook.com/unitycoders"><i class="fa fa-fw fa-facebook"></i></a></li>
                         <li><a href="http://www.github.com/unitycoders"><i class="fa fa-fw fa-github"></i></a></li>
                         <li><a href="http://www.google.com/+fossgalaxy"><i class="fa fa-fw fa-google-plus"></i></a></li>
                     </ul>
                   </div>
                   <div class="col-xs-4">
                   </div>
                   <div class="col-xs-4">
                   </div>
               </div>

               <p class="text-muted credit">Website created by Foss Galaxy.</p>
            </div>
           </footer>

       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
