{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block herounit %}
<div class="hero-unit">
<div id="project-slider" class="carousel slide hero-unit-inner" data-ride="carousel">

  <!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="https://placehold.it/1170x150/2F4C6B?text=It's almost christmas" alt="...">
  </div>
  <div class="item">
    <img src="https://placehold.it/1170x150/2F4C6B?text=Something intresting here" alt="...">
  </div>
</div>
</div>
</div>
{% endblock %}

{% block wrapper %}
<div class="container">
  <h1>Welcome</h1>
  <p class="lead">{{welcome_text}}</p>
</div>

<div id="marketing-unit">
 <div class="container">
 <div class="row">
      {% for feature in features %}
       <div class="col-md-4 text-center">
         <span class="fa-stack fa-4x">
        <i class="text-muted fa fa-circle-thin fa-stack-2x"></i>
         <i class="fa fa-{{feature.icon}} fa-stack-1x"></i>
          </span>
         <h2>{{feature.title}}</h2>
         <p>{{feature.body}}</p>
       </div>
       {% endfor %}
 </div>
 </div>
 </div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
  <h2>What's new?</h2>
  <ul class="media-list">
    {% for announcement in announcements %}
      {% include "fg_news/media_news.html" with announcement=announcement %}
    {% endfor %}
  </ul>
  <nav>
    <ul class="pager">
      <li class="next">
        <a href="/news/">Show more</a>
      </li>
    </ul>
  </nav>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h2>Sidebar Item 1</h2>
      <h2>Sidebar Item 2</h2>
    </div>
  </div>
</div>

 {% endblock wrapper %}
