<nav>
  <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
          <li class="next">
            <a href="?page={{ page_obj.next_page_number }}">next</a>
          </li>
        {% endif %}
  </ul>
</nav>
