{% extends "base_centered.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block page_content %}
  <article>
    <div class="page-header">
      <h2>{{flatpage.title}}</h2>
    </div>
    {{ flatpage.content }}

    <div style="margin-bottom: 20px">
    </div>
  </article>
{% endblock page_content %}
